<%- include('header'); -%>

<div class="" id="grad" style="text-align: center;">
  <div class="row" style="padding-top: 20px">
    <div class="col">
      <h1 style="font-weight: 900; font-size: 3.5rem">About the <br>Foundation</h1>
      <p style="margin: auto; font-size: 1.2rem; padding: 30px; color: #000">The Save Lives Foundation is guided by a core belief: that ordinary people working together
        can change history.Our mission is to inspire those people to take action, empower them to change their world for the better, and connect them
        so they can achieve more together than they can alone.We were founded by community organizers, so when we seek change, we do it by bringing
        people together.That approach begins at home, on the South Side of Indore, where we are building The Save Lives Community Center.The Save Lives
        Community Center represents a historic opportunity for Indore: a chance to build a world-class community centre and public gathering space that
        celebrates 10 years of our foundation, steps away from where it all began.
      </p>
      <form style = "padding-top: 20px;"><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HLQ41Wv9rjKCxJ" async> </script> </form>
    </div>
    <div class="col">
      <h1 style="width: 30%;  margin: auto ;  font-weight: 900"> “It is every man’s <span style="font-size: 3rem;">Obligation</span> &nbsp;to put back into the world at least the <span style="font-size: 3rem;">Equivalent</span> of what he takes out of it.”</h1>
      <h1 style="font-weight: 900; font-size: 3rem">Albert Einstein</h1>
    </div>
  </div>
</div>

<%- include('footer'); -%>
