<%- include('header'); -%>
<div class="container-fluid cont-fluid" id="grad">
  <div class="row">
    <div class="col info col-contact">
      <div class="contact-info">
        <h4><i class="fas fa-phone-alt"></i>  Call Us</h4>
        <p class= "para">&emsp;&emsp;&emsp;9211-786-420</p>
      </div>
      <div class="contact-info">
        <h4><i class="fas fa-home"></i>  Location</h4>
        <p class= "para" >&emsp;&emsp;&emsp;14, Inox Plaza Indore<br>
        &emsp;&emsp;&emsp;Madhya Pradesh</p>
      </div>
      <div class="contact-info">
        <h4><i class="fas fa-envelope"></i>  Email Us</h4>
        <p class= "para" >&emsp;&emsp;&emsp;savelives@gmail.com</p>
      </div>
      <div class="contact-info">
        <h4><i class="fas fa-briefcase"></i>  Timing</h4>
        <p class= "para" >&emsp;&emsp;&emsp;Mon-Fri - 8AM to 7PM</p>
      </div>
    </div>

    <div class="col col-contact">
      <div class="head">
        <h1>Contact Us</h1>
      </div>
      <div class="mb-3">
        <label for="fullName" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="fullName" placeholder="Your name">
      </div>
      <div class="mb-3">
        <label for="emailAddress" class="form-label">Email address</label>
        <input type="email" class="form-control" id="emailAddress" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="contactNumber" class="form-label">Email address</label>
        <input type="email" class="form-control" id="contactNumber" placeholder="1234567890">
      </div>
      <div class="mb-3">
        <label for="yourMessage" class="form-label">Your Message</label>
        <textarea class="form-control" id="yourMessage" rows="3"></textarea>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-outline-dark btn-lg" type="button">Submit</button>
      </div>
    </div>

  </div>
</div>

<%- include('footer'); -%>
