<%- include('header'); -%>

<div class="container-fluid donate-div" id="grad">
  <ul class="donate-showcase clearfix">
    <li>
      <figure class="donate-photo">
        <img src="/images/donate-1.jfif" alt="Korean bibimbap&nbsp;with egg and vegetables">
      </figure>
    </li>
    <li>
      <figure class="donate-photo">
        <img src="/images/donate-2.jfif" alt="Simple italian pizza with cherry tomatoes">
      </figure>
    </li>
    <li>
      <figure class="donate-photo">
        <img src="/images/donate-3.jfif" alt="Chicken breast steak with vegetables">
      </figure>
    </li>
    <li>
      <figure class="donate-photo">
        <img src="/images/donate-4.jfif" alt="Autumn pumpkin soup">
      </figure>
    </li>
  </ul>
  <div class="donate-last">
    <h2>“If you’re not making someone else’s life better, then you’re wasting your time.</h2>
    <h2> Your life will become better by making other lives better.”</h2>
    <h4>Your contribution is valueable, donate to help others</h4>
    <form style = "padding-top: 20px;"><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HLQ41Wv9rjKCxJ" async> </script> </form>
  </div>
</div>

<%- include('footer'); -%>
