<%- include('header'); -%>
<div class="container-fluid background_image">
  <div class="row">
    <div class="col home-message">
      <h5 class="heading-home">DONATE NOW</h5>
      <h1 class="heading-home heading-h1">Help Families Affected by COVID 19</h1>
      <p class="text-home">Help restore what COVID-19 destroyed — provide for a family in poverty today.
        Help provide food, medical care and support during this pandemic.</p>
      <form style="padding: 20px;"><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HLQ41Wv9rjKCxJ" async> </script> </form>
    </div>
    <div class="col"></div>
  </div>
</div>

<%- include('footer'); -%>
